
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
   <asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <link rel="stylesheet" href="~/css/adminlogin.css" />
</head>
 


<div class="container mt-5 px-5 py-5">
    <h1 class="text-center mt-5 px-5 py-5">ADMIN LOGIN</h1>
    <div class="row">
         <div class="col-md-3">
             </div>
        <div class="col-md-6">
             <form action="VerifyCredntials" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="text" name="UserName" id="form2Example1" class="form-control" />
            <label class="form-label text-white" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" name="Password" id="form2Example2" class="form-control" />
            <label class="form-label text-white" for="form2Example2">Password</label>
        </div>

        <!-- Submit button -->
        <input type="submit" value="LOGIN" class="btn btn-success"/>
    </form>
        </div>
    <div class="col-md-3">
        </div>
    </div>
</div>
