
@{
    ViewData["Title"] = "CreateAdmin";
}

<div class="container mt-5 ">
    <h1 class="mt-5 text-white">ADMIN CREATION</h1>

    <form action="CreateNewAdmin" method="post">
        <!-- User input -->
        <div class="form-outline mb-4">
            <label class="form-label text-white" for="form2Example1">User Name</label>
            <input type="text" name="UserName" id="form2Example1" class="form-control" />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label text-white" for="form2Example1">Email address</label>
            <input type="text" name="Email" id="form2Example1" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label text-white" for="form2Example2">Password</label>
            <input type="password" name="Password" id="form2Example2" class="form-control" />
        </div>

        <!-- Phone Number input -->
        <div class="form-outline mb-4">
            <label class="form-label text-white" for="form2Example2">Phone Number</label>
            <input type="text" name="PhoneNumber" id="form2Example2" class="form-control" />
        </div>

        <!-- Submit button -->
        <input type="submit" value="Create New Admin" />
    </form>
</div>

<div>
    <a asp-action="Dashboard">Back</a>
</div>

