
@{
    ViewData["Title"] = "CreateTrophy";
}

<h1>Create Trophy</h1>

@*trouphy list, add, edit, delete*@

<form action="CreateNewTrophy" method="post">
    <input type="submit" value="Create Trophy" />
</form>

