
@{
    ViewData["Title"] = "Dashboard";
}

@*<h1>Dashboard</h1>

<button>Create New Admin</button>*@

<div class="container mt-5 ">
    <h1 class="text-center text-white">Admin Dashboard</h1>

        @*<form action="CreateAdmin" method="post">
            <input type="submit" class="btn btn-secondary btn-lg" value="Create New Admin" />
        </form>

        <form action="CreateNewTrophyV1" method="post">
            <input type="submit" class="btn btn-secondary btn-lg" value="Trophy" />
        </form>*@

    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <form action="CreateAdmin" method="post">
                    <input type="submit" class="btn btn-secondary btn-lg" value="Create New Admin" />
                </form>
            </div>
            <div class="col">
                <form action="CreateNewTrophyV1" method="post">
                    <input type="submit" class="btn btn-secondary btn-lg" value="Trophy" />
                </form>
            </div>
            <div class="col">
                <form action="AuctionList" method="post">
                    <input type="submit" class="btn btn-secondary btn-lg" value="Auction" />
                </form>
            </div>
            <div class="col">
                <form action="PlayerRegistration" method="post">
                    <input type="submit" class="btn btn-secondary btn-lg" value="Player Registration" />
                </form>
            </div>
            <div class="col">
                <form action="TeamRegistration" method="post">
                    <input type="submit" class="btn btn-secondary btn-lg" value="Team Registration" />
                </form>
            </div>
        </div>
    </div>
</div>