
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}


<style>
    #icon{
        margin-top: 20px;
        font-size: 50px;
        color: #0026ff;
    }
    #icon:hover{
        color: red;
        font-size: 60px;
    }
    .card{
        margin-bottom: 25px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                     <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E-Sport</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav w-100">
                            
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Login </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="NewPlayers" asp-action="PlayerLogin">Players</a>
                                     <a class="nav-link text-dark" asp-area="" asp-controller="TeamOwner" asp-action="Login">Team Owner</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminLogin" asp-action="Login">Admin</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

<div class="container mt-5 pt-5">
    <div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">E-Sports Team Owner Dashboard</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-3">
        <div class="card" style="height: 200px;">
            <div class="card-body">
                <h2 style="text-align: center;">Player Profile</h2>
                <div style="text-align: center;">
                    <a class="navbar-brand" asp-area="" asp-controller="NewPlayers" asp-action="PlayerEditPlayer"><i id="icon" class="fa fa-user"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card" style="height: 200px;">
            <div class="card-body">
                <h2 style="text-align: center;">Player List</h2>
                <div style="text-align: center;">
                    <a class="navbar-brand" asp-area="" asp-controller="NewPlayers" asp-action="PlayerWatchList"><i id="icon" class="fa fa-user"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card" style="height: 200px;">
            <div class="card-body">
                <h2 style="text-align: center;">Sold Players</h2>
                <div style="text-align: center;">
                    <i id="icon" class="fa fa-user"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="card" style="height: 200px;">
            <div class="card-body">
                <h2 style="text-align: center;">UnSold Players</h2>
                <div style="text-align: center;">
                    <i id="icon" class="fa fa-user"></i>
                </div>
            </div>
        </div>
    </div>
    </div>


</div>


