@{
    ViewData["Title"] = "Home Page";
}



<div class="contaner mt-5">
    <div class="row">
        <div class="col-12 heading"> 
            <img src="./img/1.png"/>
            <h1>5 Teams One Winner <br /> E-Sports Premier League Cricket Tournament  </h1>
        </div>
    </div>
    <div class="row text-center" >
            <div class="col-2">   
            <h2> Galle Worries</h2>
            </div>
            <div class="col-2">   
           <h2> Colombo Kings </h2>

             </div>
            <div class="col-2">   
          <h2>  Kandy Tigers</h2>
            </div>
            <div class="col-2">   
           <h2> Trinco Lions</h2>
            </div>
            <div class="col-2">   
           <h2> Dabulla Kights</h2>
            </div>
    </div>
</div>