body {
    background: linear-gradient(92.04deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
}



.heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #fff;
}

.teams-head{
    color: #fff;
}

img.main-logo {
    width: 275px;
    height: 325px;
}

img.team-logo {
    border-radius: 40%;
    width: 120px;
    height: 100px;
}

.footer-copy{
    background-color:#000;
}

.ft-copy {
    text-align: center;
}