
@{
    ViewData["Title"] = "Playerregister";
}

<div class="container mt-5 ">
    <h1 class="text-center">E-SPORTS PLAYER REGISTERATION FORM</h1>

    <form action="RegisterPlayer" method="post">
        <!-- Player Firstname input -->
        <div class="form-outline mb-4">
            <input type="text" name="firstname" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">First Name</label>
        </div>

        <!-- Player lastname input -->
        <div class="form-outline mb-4">
            <input type="text" name="lastname" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Last Name</label>
        </div>

        <!-- Player age input -->
        <div class="form-outline mb-4">
            <input type="number" name="age" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Age</label>
        </div>

        <!-- Player battingstyle input -->
        <div class="form-outline mb-4">
            <input type="text" name="battingstyle" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Batting Style</label>
        </div>

        <!-- Player bowlingstyle input -->
        <div class="form-outline mb-4">
            <input type="text" name="bowlingstyle" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Bowling Style</label>
        </div>

        <!-- Player email input -->
        <div class="form-outline mb-4">
            <input type="text" name="email" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">E-mail</label>
        </div>

        <!-- Player education input -->
        <div class="form-outline mb-4">
            <input type="text" name="education" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Education</label>
        </div>

        <!-- Player nationality input -->
        <div class="form-outline mb-4">
            <input type="text" name="nationality" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Nationality</label>
        </div>

        <!-- Player image input -->
        <div class="form-outline mb-4">
            <input type="image" name="image" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Profile Picture</label>
        </div>

        <!-- Player password input -->
        <div class="form-outline mb-4">
            <input type="password" name="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- Submit button -->
        <input type="submit" value="Click Here to Register" />
    </form>
</div>

